NODE_ENV=development
DATABASE_URL=postgresql://postgres:password@localhost:5432/coret
LOG_LEVEL=debug
LOG_PRETTY=true
LOG_REQUEST_RESPONSE=false
LOG_REQUEST_ABORT=false
APP_NAME=coret
BETTER_AUTH_URL=http://localhost:3008
BETTER_AUTH_SECRET=dcf95b081365a3091922c1ae0818e5d558af903b35321b0fc9a951dd29ef1cf8
BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:3008,http://<internal-ip>:3000,https://dokploy.example.com
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

NITRO_HOST=0.0.0.0
NITRO_PORT=3008
PORT=3008

VITE_APP_NAME=coret
VITE_APP_URL=http://localhost:3008
VITE_LOG_LEVEL=info
